footer {
    height: 200px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    a {
        color: white;
        i {
            color: $olive;
        }
    
    }
}
