.body-container {
    max-width: 1093px;
    margin: 60px auto;
    .carousel-circle{
        margin: 60px 0;
        .splide__slide{
            text-align: center;
        }
        .splide__pagination {
            display: none;
        }
        .splide__slide {
            padding: 10px 0;
        }
        img {
            width: 170px;
            border-radius: 50%;
            transition: transform .2s;

            @media screen and (max-width: 600px) {
                width: 115px;
            }

            &:hover {
                transform: scale(1.1); 
            }
        }
        p {
            margin-top: 10px;
            font-weight: bolder;
            font-size: 1.1em;
        }
    }
    .recepies__dropdown {
        width: 190px;
        margin-bottom: 50px;
        @media screen and (max-width: 1093px) {
            margin-left: 5%;
        }
        
        select {
            width: 100%;
            border: none;
            outline: none;
            border-bottom: solid $olive;         
        }
    }   
}