@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;1,200;1,300;1,400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Serif Pro', serif;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  width: 130px;
  height: 40px;
  border-radius: 15px;
  background: -webkit-linear-gradient(225deg, #1ad4bb, #B5CC18);
  -webkit-box-shadow: 0 1px 16px 0 rgba(70, 89, 138, 0.3);
          box-shadow: 0 1px 16px 0 rgba(70, 89, 138, 0.3);
  color: black;
  line-height: 2.5;
  text-align: center;
}

.btn:hover {
  opacity: .9;
}

.line {
  width: 164px;
  height: 2px;
  background: -webkit-linear-gradient(225deg, #1ad4bb, #B5CC18);
}

.lock-scroll {
  overflow: hidden;
}

.navbar {
  background-color: white;
  padding: 1em 0;
  margin: 0 auto;
  max-width: 1093px;
  -webkit-box-shadow: 0px 6px 10px -10px rgba(194, 194, 194, 0.5);
          box-shadow: 0px 6px 10px -10px rgba(194, 194, 194, 0.5);
  position: relative;
  z-index: 99;
  -webkit-transition: all 700ms;
  transition: all 700ms;
}

.navbar #navbar_logo {
  font-weight: bold;
  color: black;
  font-size: 1.6em;
  font-family: 'Bebas Neue', cursive;
}

@media screen and (max-width: 1093px) {
  .navbar #navbar_logo {
    padding-left: 1em;
  }
}

.navbar #navbar_logo span {
  background: -webkit-linear-gradient(225deg, #1ad4bb, #B5CC18);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: inherit;
  font-family: "Bebas Neue", cursive;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .navbar_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 600px) {
  .navbar .navbar_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .navbar .navbar_menu li {
    margin-bottom: 10px;
  }
}

.navbar .navbar_menu .navbar_items {
  margin-right: 20px;
  height: 25px;
  opacity: .7;
}

.navbar .navbar_menu .navbar_items:hover {
  cursor: pointer;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, #1ad4bb, #B5CC18);
  opacity: 1;
}

.navbar .navbar_menu ion-icon {
  vertical-align: text-top;
  font-size: 20px;
}

.navbar .navbar_menu .navbar_login {
  opacity: .7;
}

.navbar .navbar_menu.responsive {
  background-color: #B5CC18;
  opacity: .95;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.navbar .hamburger {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 1;
  width: 60px;
  padding: 0.5em 1em;
  height: 60px;
  -webkit-transition: -webkit-box-shadow 0.4s ease;
  transition: -webkit-box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease, -webkit-box-shadow 0.4s ease;
  display: none;
}

.navbar .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background: black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .hamburger > div:before, .navbar .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .hamburger > div:after {
  top: 10px;
}

.navbar .rotate > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navbar .rotate > div:before, .navbar .rotate > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar .rotate > div:after {
  opacity: 0;
}

@media screen and (max-width: 600px) {
  .navbar .hamburger {
    display: block;
  }
}

.recipe-search {
  text-align: end;
  position: relative;
}

@media screen and (max-width: 600px) {
  .recipe-search {
    display: none;
  }
}

.recipe-search input {
  width: 450px;
  height: 30px;
}

.recipe-search ion-icon {
  position: absolute;
  right: 5px;
  top: 7px;
}

.carousel-header .splide__arrow {
  display: none;
}

.carousel-header .splide__pagination {
  bottom: -20px;
}

.slide_info_wrapper {
  max-width: 1093px;
  margin: 0 auto;
}

.slide_info_wrapper .slide_info {
  width: 350px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}

.slide_info_wrapper .slide_info * {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.slide_info_wrapper .slide_info h2 {
  font-weight: 400;
  letter-spacing: 2px;
}

.slide_info_wrapper .slide_info p {
  margin: 40px 0;
}

nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
}

@media screen and (min-width: 600px) {
  nav.sticky {
    padding: 1.3em 2em;
  }
}

footer {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: black;
  padding: 1.3em 2em;
  margin: 0;
}

footer a {
  color: white;
}

footer .logo__footer {
  font-size: 48px;
  letter-spacing: -1px;
}

footer .logo__footer a {
  font-family: 'Bebas Neue', cursive;
}

footer .container__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 400px;
  color: white;
}

.body-container {
  max-width: 1093px;
  margin: 60px auto;
}

.body-container .carousel-circle {
  margin: 70px 0;
}

.body-container .carousel-circle .splide__slide {
  text-align: center;
}

.body-container .carousel-circle .splide__pagination {
  display: none;
}

.body-container .carousel-circle .splide__slide {
  padding: 10px 0;
}

.body-container .carousel-circle img {
  width: 170px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.body-container .carousel-circle img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.body-container .carousel-circle p {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 1.1em;
}

.recepies__grid .recepies__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1em;
  justify-items: center;
}

.recepies__grid .recepies__list .box__card {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
  width: 350px;
}

.recepies__grid .recepies__list .box__card:hover {
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

.recepies__grid .recepies__list .box__card .card__image {
  position: relative;
}

.recepies__grid .recepies__list .box__card .card__image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 330px;
  width: 100%;
}

.recepies__grid .recepies__list .box__card .card__image .card__title {
  position: absolute;
  width: 100%;
  color: white;
  bottom: 5px;
  padding: 20px 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
}

.recepies__grid .recepies__list .box__card .card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recepies__grid .recepies__list .box__card .card__description .desc {
  width: 50%;
  text-align: center;
  padding: 10px 0;
}

.recepies__grid .recepies__list .box__card .card__description .desc ion-icon {
  color: #B5CC18;
}

.recepies__grid .recepies__list .box__card .card__description .desc.time {
  border-bottom: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.recepies__grid .recepies__list .box__card .card__description .dificulty {
  border-bottom: 1px solid #ececec;
}

.recepies__grid .recepies__list .box__card .card__description .kal {
  border-right: 1px solid #ececec;
}

.recepies__grid .recepies__list .box__card .card__description .type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recepies__grid .recepies__list .box__card .card__description .type .type img {
  color: #B5CC18;
}
